<%- include('nav-header', {titleName:'UFO Sightings', tabStatus:['nav-link', 'nav-link','nav-link','nav-link','nav-link','nav-link active']}) %>


<div class="wrapper">
  <div class="titleHeader">New Sighting</div>
  <% if (submitted && validEntry) {%>
  <div class="titleHeader">Sighting Submitted!</div>
  <% } %>
  <form class='form-group' action='/sighting' method='POST'>
    <div class="'container" style="padding:20px; ">
      <% for (const [key,value] of Object.entries(sightingTemplate)) {%>
      <div class="row">
        <label class='infoLabel' for="<%=key%>"> <%=value[0]%> </label>
      </div>
      <!-- Not a valid entry and needs to retain the input in the form -->
      <div class="row">
        <% let inputValue = ''; %>
        <% if (!(validEntry) && submitted) {%>
        <%  inputValue = entry[key]; %>
        <%}%>
           <% if (key == 'summary'|| key == 'text') {%>
        <textarea class='infoInput col-10' rows='5' id="<%=key%>" name="<%=key%>"><%=inputValue%></textarea>
        <%} else {%>
        <input class="infoInput col-10" type="<%=value[1]%>" id="<%=key%>" name="<%=key%>" value='<%=inputValue%>' />
        <% } %>
      </div>
      <% } %>
      <div class="row">
      <button class='entryButtons' type="submit">Submit</button>
    </div>
  </div>
  </form>
</div>
</body>

</html>