<%- include('nav-header', {titleName:'Edit Sightings', tabStatus:['nav-link active', 'nav-link','nav-link','nav-link','nav-link','nav-link']}) %>

<div class='titleHeader'>Edit Sighting <%=indexNo%></div>
<div class="container">
  <form action='/sighting/<%=indexNo%>/edit?_method=PUT' method='POST'>
    <% for (const [key,value] of Object.entries(sightingEntry)) { %>
    <div class="form-group">
      <label class='infoLabel col-4' for='<%=key%>'><%= key.toUpperCase().replace('_', ' ') %>:</label>
      <% if(key === 'text' || key ==='summary') { %>
        <textarea class ='infoInput col-12' rows="5"><%=value%></textarea>
        <%} else { %>
      <input class='infoInput col-12' type='text' id='<%=key%>' value='<%=value%>' />
      <%}%>
    </div>
    <% } %>
    <button class='entryButtons' type='submit'>Submit</button>
    <button class ='entryButtons' type='submit' formaction="/sighting/<%=indexNo%>?_method=DELETE" formmethod= 'post'>Delete</button>
  </form>
</div>
</body>

</html>